* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: sans-serif;
}

body {
    min-height: 100vh;
    background-color: #ebebeb !important;
}

a {
    text-decoration: none !important;
}

@font-face {
    font-family: 'Nexa Bold';
    src: url('../fonts/Nexa_Bold.otf') format('opentype');
}
@font-face {
    font-family: 'Nexa Light';
    src: url('../fonts/Nexa_Light.otf') format('opentype');
}
@font-face {
    font-family: 'Nexa';
    src: url('../fonts/Nexa_Light.otf') format('opentype');
}
@font-face {
    font-family: 'Nexa';
    src: url('../fonts/Nexa_Bold.otf') format('opentype');
    font-weight: bold;
}
@font-face {
    font-family: 'Open Sans';
    src: url('../fonts/OpenSans-Regular.ttf') format('truetype');
}
@font-face {
    font-family: 'Open Sans';
    src: url('../fonts/OpenSans-Bold.ttf') format('truetype');
    font-weight: bold;
}

.header {
    position: fixed;
    width: 100%;
    top: 0;
    left: 0;
    z-index: 3;
}

.topo {
    width: 100%;
    display: flex;
    height: 140px;
    background-color: #444243;
    color: #fff;
    padding: 20px;
    justify-content: center;
    align-items: center;
}

h1 {
    font-family: 'Nexa Bold';
    text-transform: uppercase;
    font-size: 42px !important;
    margin: 0 !important;
}

h2 {
    font-family: 'Nexa';
    text-transform: none;
    font-size: 16px !important;
    margin: 0 !important;
}

span, p {
    font-family: 'Nexa' !important;
}

.header span {
    font-size: 14px;
}

.info {
    text-align: center;
}

.menu {
    background-color: #ffca05;
    height: 50px;
    width: 100%;
    display: block;
    text-align: center;
}

.menu ul {
    list-style: none;
    padding: 10px 0;
}

.menu ul li {
    display: inline;
    line-height: 30px;
    box-sizing: border-box;
    margin: 0 10px;
    padding: 0 !important;
}

.menu ul li a {
    display: inline-block;
    color: #444243;
    text-transform: uppercase;
    font-family: 'Nexa Bold';
    padding: 0 10px;
}

.menu ul li a:hover {
    border-bottom: 3px solid #444243;
}

.footer {
    position: fixed;
    width: 100%;
    height: 26px;
    bottom: 0;
    right: 0;
    padding: 2px 10px;
    background-color: #ffca05;
    text-align: center;
}

.footer span {
    font-family: 'Nexa';
    font-size: 14px;
    color: #444243;
    position: absolute;
    top: 4px;
}

.container-fluid {
    height: auto;
    display: block;
    position: relative;
    top: 190px;
    padding: 40px 100px;
    text-align: center;
}

.container-fluid h1 {
    font-size: 32px !important;
    display: inline-block;
}

.perfil {
    display: flex;
    /* border: 1px solid #000; */
    width: auto;
    padding: 0 100px;
    height: auto;
    justify-content: center;
    margin-bottom: 40px;
}

.foto {
    height: 170px;
    display: block;
    width: 170px;
    /* border: 2px solid #000; */
}

.foto img {
    width: 100%;
}

.p-info {
    margin-left: 20px;
    text-align: left;
}

.p-info h1 {
    font-size: 32px !important;
    border-bottom: 4px solid #ffca05;
    margin-bottom: 10px !important;
    display: inline-block !important;
    height: auto !important;
}

.perfil p {
    display: block;
    max-width: 600px;
}

.perfil .redes {
    /* border: 1px solid #000; */
    max-width: 600px;
    display: block;
    text-align: center;
}

.perfil .redes span {
    display: inline-block;
    margin-left: 20px;
    margin-right: 20px;
    font-size: 14px;
    color: #000;
}

.container-pers1 {
    display: inline-block;
    /* border: 1px solid #000; */
    width: auto;
    padding: 0 100px;
    height: auto;
    justify-content: center;
    margin-bottom: 40px;
}

.container-pers1 h1 {
    font-size: 26px !important;
    border-bottom: 4px solid #ffca05;
    margin-bottom: 30px !important;
    display: inline-block !important;
    height: auto !important;
}

.container-pers1 .col-pers1 {
    display: inline-block;
    width: 400px;
    margin-left: 10px;
    margin-right: 10px;
}

.container-pers1 .col-pers1 h3 {
    font-family: 'Open Sans';
    font-weight: bold;
    font-size: 16px;
}

.container-pers1 .col-pers1 img {
    width: 200px;
    display: inline-block;
    margin-bottom: 15px;
}

.container-pers1 .col-pers1 .periodo {
    font-family: 'Nexa';
    display: inline-block;
    padding: 0 10px;
    background-color: #ffca05;
    border-radius: 20px;
}

.container-orcamento {
    display: flex;
    /* border: 1px solid #000; */
    width: auto;
    padding: 0 100px;
    height: auto;
    justify-content: center;
    flex-wrap: wrap;
    margin-top: 20px;
}

.container-orcamento .item {
    display: block;
    /* border: 1px solid #000; */
    width: 370px;
    margin: 10px 20px;
}

.container-orcamento .item img {
    width: 150px;
    height: 150px;
    margin-bottom: 10px;
}

.container-orcamento .item h3 {
    font-family: 'Open Sans';
    font-weight: bold;
    font-size: 22px;
    margin: 0;
    padding: 0;
}

.container-orcamento .item p {
    font-family: 'Nexa';
    margin-top: 10px;
}

.container-contato {
    display: block;
}

.container-contato p {
    font-family: 'Nexa';
    max-width: 800px;
    display: inline-block;
    margin-top: 10px;
}

.form-contato {
    display: block;
    /* border: 1px solid #000; */
}

.form-contato .form-column {
    display: inline-block;
    margin-left: 5px;
    margin-right: 5px;
    margin-bottom: 5px;
}

.form-contato label {
    display: block;
    text-align: left;
    font-family: 'Nexa';
}

.form-contato .form-column input {
    width: 400px;
    height: 35px;
    border: 1px solid #444243;
    border-radius: 10px;
    padding: 0 10px;
    font-family: 'Nexa';
    background-color: rgba(255,255,255,0.5);
}

.form-contato .form-column input:focus {
    outline: 0;
}

.form-contato .form-row {
    display: inline-block;
    margin-bottom: 5px;
}

.form-contato .form-row textarea {
    width: 810px;
    height: 150px;
    border: 1px solid #444243;
    border-radius: 10px;
    resize: none;
    padding: 10px;
    font-family: 'Nexa';
    background-color: rgba(255,255,255,0.5);
}

.form-contato .form-row textarea:focus {
    outline: 0;
}

.form-contato .botao-enviar {
    display: inline-block;
    width: 200px;
    height: 40px;
    font-family: 'Nexa';
    font-weight: bold;
    font-size: 18px;
    line-height: 40px;
    background-color: #ffca05;
    border: 1px solid #ffca05;
    border-radius: 20px;
}
